:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

* {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    color: var(--text-color);
}

a{
  text-decoration: none;
}

p{
  font-size: 15px;
}

.container{
  display: grid;
  grid-template-columns: 348px 1fr;
  margin: 25px 25px;
}

body{
  background-color: var(--body-bg-color);
}

div{
  background-color: var(--bg-cards);
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 20px;
}


.first-row{
  gap: 1.5em;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

#profileimage {
  padding: 2px;
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.profile-card{
  width: auto;
  text-align: center;
  padding: 20px;
}

.profile-card img{
  background-color: #00FF00;
}

.social-card{
  margin: 0;
}

.social-card ul,p{
  list-style: none;
  display: inline;
  justify-content: center;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

.social-card li{
  padding:  10px;
  display: flex;
  text-align: left;
  gap: 10px;
}

.second-row{
  padding: 0 40px;
}

.project-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 5em;
  padding: 0 35px;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.projects .project{
  display: flex;
  margin-top: 30px;
  gap: 20px;
  flex-basis: auto;
  flex-direction: column;
  padding: 40px;
  flex-basis: 43%;
}

.folder{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.folder img{
  width: 25px;
  height: 25px;
}

.icons{
  display: flex;
  gap: 10px;
}

.icons img{
  width: 20px;
  height: 20px;
}

#circle {
  width: 15px;
  height: 15px;
  border: 2px solid #837E9F;
  background: #E7DE79;
  border-radius: 50%;
  padding: 0;
}

.icons .tecnology{
  margin-left:auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

.project-card.posts{
  margin-top: 30px;
  padding: 0px 35px;
}

.tech{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 10px;
  margin-top: 20px;
  gap: 15px;
}

.tech p{
  background: var(--bg-techs);
  padding: 6px 12px;
  border-radius: 999px;
  text-align: center;
  font-size: 12px;
  color: #000000;
  font-weight: 700;
}



.posts {
  display: flex;
  gap: 30px;
  padding: 25px;
  margin-top: 30px;
  align-items: center;
}

.posts section{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.posts h3,h4{
  margin: 0;
}

.hashtags{
  display: flex;
  gap: 25px;
}

footer{
  bottom: 0;
  text-align: center;
}

footer p{
  font-size: 15px;
  font-weight: 300;
  word-spacing: 2px;
}